.pageTitle {
    composes: heading-1 from "../../styles/typo.module.css"
}

.subTitle{
    composes: heading-3 from "../../styles/typo.module.css"
}

.intro{
    composes: body from "../../styles/typo.module.css"
}

.splitgrid{
    display: grid;
    grid-template-columns: 1fr  50%;
}

.character__image{
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 0.25fr .5fr .25fr .5fr .25fr .75fr;
  grid-template-columns: 1fr;
  position: absolute;
  width: 40vw;
  top:0;
  right: 0;
  object-fit: contain;
}
