.story{
    display: grid;
    grid-gap: 10rem;
    grid-template-columns: 1fr 4fr;
}

.story__about{
    grid: 1 / 2;
}

.story__tags{
    display: flex;
}

.story__tag{
    composes: filter__tag from "../Home.module.css";
}

.story__author{
    composes: heading-3 from "../../styles/typo.module.css"
}
.story__title{
    composes: heading-2 from "../../styles/typo.module.css"
}

.story__text{
    composes: body from "../../styles/typo.module.css";
    margin-bottom: 2rem;
    font-size: 2.2rem;
}
.story__introduction{
        composes: body from "../../styles/typo.module.css";
}