.pageTitle {
  composes: heading-3 from "../styles/typo.module.css";
}

.subTitle {
  composes: heading-1 from "../styles/typo.module.css";
  -webkit-text-stroke: 0.2rem;
  -webkit-text-stroke-color: var(--light-color);
  color: transparent;
  font-size: 12.1rem;
}

.intro {
  composes: body from "../styles/typo.module.css";
  font-size: 2rem;
  color: var(--light-grey-color);
  margin-bottom: 5rem;
  width: 80%;
  line-height: 3.2rem;
}

.split_grid {
  composes: split_grid from "../styles/ui.module.css";
  height: 100vh;
  align-content: center;
}

.character__image {
  composes: character__image from "../styles/ui.module.css";
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  composes: button from "../styles/ui.module.css";
  margin-top: 5rem;
}

.margin_left {
  margin-left: 10rem;
}
/**/
.button_back {
  margin-bottom: 5rem;
  background: none;
  border: none;
  color: var(--light-color);
  font-size: 1.6rem;
  padding: 1.5rem 0;
  padding-right: 4rem;
  width: auto + 5rem;
  text-align: left;
  position: relative;
  composes: oakes from "../styles/typo.module.css";
}

.button_back:after {
  content: "";
  display: block;
  height: 0.2rem;
  width: 2.7rem;
  background-color: var(--highlight-color);
  position: absolute;
  left: -5rem;
  top: 50%;
}

.button_back::before {
  content: "";
  display: block;
  border: 0.2rem solid var(--highlight-color);
  border-left: none;
  border-bottom: none;
  height: 1.4rem;
  width: 1.4rem;
  position: absolute;
  left: -5rem;
  top: calc(50% - 0.5rem);
  transform: rotate(225deg);
}

.social {
  background-color: #e4003f;
  position: absolute;
  bottom: 20rem;
  width: 10rem;
  height: 20rem;
  display: flex;
}

.social_followme {
  writing-mode: vertical-rl;
  transform: scale(-1);
  text-orientation: mixed;

  width: 30%;
  margin-left: 20px;
  margin-top: 20px;
  align-self: flex-start;
  font-size: 1.2rem;
  text-transform: uppercase;
  composes: oakes from "../styles/typo.module.css";
  letter-spacing: 4px;
}

.social_followme:before {
  content: "";
  display: block;
  position: absolute;
  background-color: white;
  width: 2px;
  height: 70px;
  margin-top: -90px;
  right: 5px;
}
.social_iconslist {
  width: 50%;
  top: 0;

  align-self: center;
}
.social_iconslist li {
  width: 15px;
  height: 15px;
  margin-bottom: 22px;
  margin-left: 10px;
}

.social_instagram {
  background-image: url("../styles/assets/icons/instagram.svg");
}
.social_twitter {
  background-image: url("../styles/assets/icons/twitter.svg");
}
.social_facebook {
  background-image: url("../styles/assets/icons/facebook.svg");
}
.social_spotify {
  background-image: url("../styles/assets/icons/spotify.svg");
}
