.pageTitle {
  composes: heading-3 from "../styles/typo.module.css";
}

.subTitle {
  composes: heading-1 from "../styles/typo.module.css";
  -webkit-text-stroke: 0.2rem;
  -webkit-text-stroke-color: var(--light-color);
  color: transparent;
  font-size: 12.1rem;
}

.intro {
  composes: body from "../styles/typo.module.css";
  color: var(--light-grey-color);
  margin-bottom: 5rem;
  width: 80%;
}

.split_grid {
  composes: split_grid from "../styles/ui.module.css";
  height: 100vh;
  align-content: center;
}

.character__image {
  composes: character__image from "../styles/ui.module.css";
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  composes: button from "../styles/ui.module.css";
  margin-top: 5rem;
}

.margin_left {
  margin-left: 10rem;
}
/**/
.button_back {
  margin-bottom: 5rem;
  background: none;
  border: none;
  color: var(--light-color);
  font-size: 1.6rem;
  padding: 1.5rem 0;
  padding-right: 4rem;
  width: auto + 5rem;
  text-align: left;
  position: relative;
  composes: oakes from "../styles/typo.module.css";
}

.button_back:after {
  content: "";
  display: block;
  height: 0.2rem;
  width: 2.7rem;
  background-color: var(--highlight-color);
  position: absolute;
  left: -5rem;
  top: 50%;
}

.button_back::before {
  content: "";
  display: block;
  border: 0.2rem solid var(--highlight-color);
  border-left: none;
  border-bottom: none;
  height: 1.4rem;
  width: 1.4rem;
  position: absolute;
  left: -5rem;
  top: calc(50% - 0.6rem);
  transform: rotate(225deg);
}

.social {
  background-color: #e4003f;
  position: absolute;
  bottom: 20rem;
  width: 10rem;
  height: 20rem;
  display: flex;
}

.social_followme {
  writing-mode: vertical-rl;
  transform: scale(-1);
  text-orientation: mixed;

  width: 30%;
  margin-left: 20px;
  margin-top: 20px;
  align-self: flex-start;
  font-size: 1.2rem;
  text-transform: uppercase;
  composes: oakes from "../styles/typo.module.css";
  letter-spacing: 4px;
}

.social_followme:before {
  content: "";
  display: block;
  position: absolute;
  background-color: white;
  width: 2px;
  height: 70px;
  margin-top: -90px;
  right: 5px;
}
.social_iconslist {
  width: 50%;
  top: 0;

  align-self: center;
}
.social_iconslist li {
  width: 15px;
  height: 15px;
  margin-bottom: 22px;
  margin-left: 10px;
}

.social_instagram {
  background-image: url("../styles/assets/icons/instagram.svg");
}
.social_twitter {
  background-image: url("../styles/assets/icons/twitter.svg");
}
.social_facebook {
  background-image: url("../styles/assets/icons/facebook.svg");
}
.social_spotify {
  background-image: url("../styles/assets/icons/spotify.svg");
}

@media only screen and (min-width: 700px) {
  .story__infoGrid {
    grid-template-columns: 21.4rem 1fr;
    grid-template-rows: 26.2rem;
    margin-bottom: 5rem;
  }

  .story__introduction {
    font-size: 1.6rem;
  }

  .story__info {
    background-color: var(--highlight-color);
    padding: 4rem;
  }

  .story__tag {
    font-size: 1.4rem;
  }

  .story__text {
    margin: 3rem 0 8rem 6rem;
  }

  .story__socialMedia1 {
    display: initial;
  }

  .story__socialMedia2 {
    display: none;
  }

  .story__socialMedia1 h2 {
    color: var(--dark-color);
  }
}

@media only screen and (min-width: 900px) {
  .story {
    display: grid;
    grid-template-columns: 1fr 34rem;
    grid-template-rows: 8rem auto;

    grid-template-areas:
      "back info"
      "story info";
  }

  .story__infoGrid {
    grid-area: info;
    grid-template-columns: 100%;
    grid-template-rows: 48.8rem 100%;
    width: 34rem;
    position: fixed;
    right: 0;
  }

  .story__content {
    margin: 0 10rem 0 5vw;
    grid-area: story;
  }

  .story__backButton {
    width: 100%;
    grid-area: back;
    margin-left: 5vw;
    margin-top: 2rem;
  }

  .story__text {
    margin-left: 4.5rem;
  }

  .story__tags {
    margin-top: 7rem;
  }
}

@media only screen and (min-width: 1100px) {
  .story__text {
    margin-left: 8rem;
  }
}

@media only screen and (min-width: 1300px) {
  /* .story {
      grid-template-columns: 1fr 38.6rem;

  }

  .story__infoGrid {
      grid-template-rows: 55.4rem 100%;
      width: 38.6rem;
  } */

  .story__text {
    width: 68.6rem;
  }

  .story__content {
    margin-left: 10vw;
    grid-area: story;
  }

  .story__backButton {
    margin-left: calc(10vw - 5rem);
    margin-top: 6rem;
  }

  .story__content {
    margin-top: 2rem;
    grid-area: story;
  }
}

@media only screen and (min-width: 1450px) {
  .story {
    grid-template-columns: 1fr 38.6rem;
  }

  .story__infoGrid {
    grid-template-rows: 55.4rem 100%;
    width: 38.6rem;
  }
}
