.title{
    composes: heading-1 from '../styles/typo.module.css';
}

.section__title, .largeText{
    composes: heading-2 from '../styles/typo.module.css';
    line-height: 1.4;
    margin-bottom: 1rem;

}

.characters{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem;
}

.stories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 3rem;
    margin-top: 10rem;
}

.stories a:nth-of-type(odd){
    margin-top: -6rem;
}
/* CTA: Call To Action */

.CTA__create{
    background-color: #D4D4D4;
    border-radius: 2rem;
    composes: character from '../components/MainCharacter.module.css';
    grid-template-rows: 2rem 22rem 1.5rem 3rem 2rem 
}

.CTA__title{

    grid-row: 2;
    grid-column: 2 / -2;
    align-self: flex-end;

    composes: heading-3 from '../styles/typo.module.css';
}
.CTA__tag {

    grid-row: 4;
    grid-column: 2 / -2;

    composes: body from '../styles/typo.module.css';
    color: #fff;
    font-weight: bold;
    border-bottom: .2rem solid #fff;
}

.description{
    composes: body from '../styles/typo.module.css';
    font-size: 2rem;
    color: var(--light-grey-color)
}
.filter__title, .subTitle{
    composes: heading-3 from '../styles/typo.module.css';
}
.filter__tags{

}
.tag{
composes: tag from '../styles/ui.module.css';
}
.tag__input{
    composes: tag__input from '../styles/ui.module.css';
}

.tag__checkBox{
        composes: tag__checkBox from '../styles/ui.module.css';

}
.split_grid{
composes: split_grid from "../styles/grids.module.css"
}

.grid__half{
    composes: grid__half from "../styles/grids.module.css";
    align-items: center;
}
.searchField{
    composes: searchField from '../styles/ui.module.css';
}
.searchField__icon{
    composes: searchField__icon from '../styles/ui.module.css';
}
.border__bottom{
       border-bottom: .2rem solid var(--grey-color);
}
.grid__half img{
    width: 80%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.button{
    composes: button from "../styles/ui.module.css";
    margin-left: 10rem;
    margin-top: 5rem;
}

.loadButton{
    composes: loadButton from '../styles/ui.module.css';
    margin-top: 5rem;
    position: relative;
    grid-column: 1 / -1;
    width: 18rem;
    justify-self: center;
    margin-left: -3rem;
    transition: all .2s ease-in-out;
    transition-delay: .7s;
}
.addsign{
    composes: addsign from '../styles/ui.module.css';
}

.hideButton{
    opacity: 0;
}
.hideButton:hover{
    cursor: auto;
}
.hideButton.addsign{
    opacity: 0;
}