.buttons{
    position: absolute;
    top: calc(50% - 2rem);
    left: 3rem; right: 3rem;
    display: flex;
    justify-content: space-between
}

.buttonLeft, .buttonRight{
    background: none;
    border: .2rem solid var(--light-color);
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    transition: .3s ease-in-out;
}

.buttonLeft{
    left: 3rem;
}
.buttonRight{
    right: 3rem;
}
.buttonLeft::after, .buttonRight:after{
    content: "";
    display: block;
    height: .7rem;
    width: .7rem;
    border: .2rem solid var(--light-color);
    transform: rotate(45deg);
    border-left: none;
    border-bottom: none;
    transition: .3s ease-in-out;
}
.buttonLeft::after{
    margin-left: .4rem;
    transform: scale(-1) rotate(45deg);
}
.buttonRight::after{
    margin-left: .2rem;
}

.buttonLeft:hover, .buttonRight:hover{
    background-color: var(--light-color);
    cursor: pointer;
}
.buttonLeft:hover::after, .buttonRight:hover::after{
    border-color: var(--dark-color);
}

.character__imageView{
    width: 100%;
    height: 100%;
      object-fit: cover;
}
.character__imagepart{
    width: 100%;
    margin: 0;
    height: 100%;
    position: relative;
}

.character__imagepart:nth-child(4){
    grid-row: 1 / 3;
    grid-column: 1
}
.character__imagepart:nth-child(3){
    grid-row: 2 / 5;
    grid-column: 1
}
.character__imagepart:nth-child(2){
    grid-row: 4 / 7;
    grid-column: 1
}
.character__imagepart:nth-child(1){
    grid-row: 6 / 8;
    grid-column: 1
}
