.pageTitle {
    composes: heading-1 from "../../../styles/typo.module.css"
}
.part__title{

  composes: heading-3 from "../../../styles/typo.module.css";
  color: var(--grey-color);
  margin-left: -3.2rem;
}
.part__step{
  color: var(--light-color);
  display: inline-block;
  padding-right: 2rem;
}
.character__image{
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 0.45fr 0.3fr .35fr .45fr .4fr .75fr;
  grid-template-columns: 1fr;
  position: absolute;
  top:0;
  right: 0;
  object-fit: contain;
  width: 40%;
}

.button {
   composes: button from '../../../styles/ui.module.css';
}

.character__genders{
  justify-self: center;
  bottom: 0;
  position: absolute;
}

.margin_left{
  height: 60vh;
    padding-left: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputfield{
  composes: inputField from "../../../styles/ui.module.css";
}

.inputfield[id='age']{
  width: 15rem;
}
.inputfield[id='location']{
  width: 40rem;
}