.pageTitle {
    composes: heading-1 from "../../../styles/typo.module.css";
    font-size: 4.5rem;
    margin: 0;
    margin-bottom: 3rem;
}
.part__title{
  composes: heading-3 from "../../../styles/typo.module.css";
  color: var(--grey-color);
  margin-left: -3.2rem;
}
.part__step{
  color: var(--light-color);
  display: inline-block;
  padding-right: 2rem;
}
.character__image{
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 0.45fr 0.3fr .35fr .45fr .4fr .75fr;
  grid-template-columns: 1fr;
  position: absolute;
  top:0;
  right: 0;
  object-fit: contain;
  width: 45%;
  z-index: 15;

}



.button {
   composes: button from '../../../styles/ui.module.css';
   width: 15rem;
}

.character__genders{
  justify-self: center;
  bottom: 0;
  position: absolute;
  background-color: var(--dark-color);
  padding: .5rem;
  border-radius: 10rem;
  bottom: 5%;
}

.gender__check{
  appearance: none;
}
.gender__check:hover{
  cursor: pointer;
}


.gender__check:after{
  content: "";
  display: block;
  height: 2.6rem;
  width: 2.6rem;
  opacity: .65;
  background-size: contain;
  margin: 0 .1vw;
  transition: .2s ease-in-out;
  background-repeat: no-repeat;
}
.gender__check[value="man"]:after{
  background-image: url('../../../styles/assets/icons/male.png');
  opacity: .35;
}
.gender__check[value="transgender"]:after{
  background-image: url('../../../styles/assets/icons/trans.png');
  opacity: .35;
}
.gender__check[value="vrouw"]:after{
  background-image: url('../../../styles/assets/icons/female.png');
  opacity: .35;
}

.gender__check:checked:after{
  opacity: 1;
}
.gender__check:focus{
  outline: none;
}



.margin_left{
  height: 60vh;
    padding-left: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.textEditor{
padding-left: 33px;
margin-bottom: 10vh;
}

.inputfield{
  composes: inputField from "../../../styles/ui.module.css";
}

.titleField{
    composes: storyTitle from "../../../styles/ui.module.css";
}

.textField{
      composes: textField from "../../../styles/ui.module.css";
}
.inputfield[id='name'], .inputfield[id='location']{
  width: 75%;
}
.inputfield[id='age']{
  width: 30%;
  text-align: center;
}

.inputfield[id='personality1'], .inputfield[id='personality2'], .inputfield[id='personality3']{
  width: 75%;
}


.moveUp{
    transform: translateY(-1rem);
    display: inline-block;
}



.tag{
  composes: tag from "../../../styles/ui.module.css";
}

.tag__input{
    composes: tag__input from "../../../styles/ui.module.css"
}

.tag__checkBox{
      composes: tag__checkBox from "../../../styles/ui.module.css"
}

.editorGrid{
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 2fr .25fr 20%;
  grid-gap: 5rem;
}
.hints{
  position: fixed;
    right: 10vw;
    width: 20%;
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
}
  .character__open{
    display: none;
  }
  .character__checkBox{
    display: none;
  }

  @media screen and (max-width: 1200px) {
  
      .hints{
      height: 75%;
    }

  }

  @media screen and (max-width: 1100px) {
    .character__image{
      width: 50vw;
    }
    .margin_left{
      padding-left: 3.5vw
    }
    .hints{
      height: 75%;
    }


  }

   @media screen and (max-width: 1000px) {
      .gender__check:after{
    width: 3vw;
    height: 3vw;
  }
   }

 @media screen and (max-width: 800px) {
  .character__image{
    opacity: 0;
    transition: opacity .2s ease-in-out;
    top: -13%;
    left: 0;
    height: 113%;
    width: 100%;
    pointer-events: none;

  }
  .character__open{
    display: block;
   composes: check__button from '../../../styles/ui.module.css';
       width: 15rem;
       padding-left: 1rem;
       padding-right: 1rem;
       text-align: center;
       margin-bottom: 3rem;
  }
  .SM__buttons{
    background-color: var(--dark-color);
    position: relative;
    z-index: 5;
    height: 11rem;
    margin-top: -6rem;
  }
  .character__close{
    position: absolute;
    right: 5vw;
    bottom: 0
  }
  .character__open::before{
    content: none;
  }
  .visible{
    opacity: 1;
    pointer-events: all;
  }
  .character__open:hover, .character__open:focus{
    background-color: transparent;
  }

  .centerBlock{
    grid-column: 1 / -1;
    justify-items: center;
  }
  .centerContent{
    align-self: center;
  width: 50vw;
  text-align: center;
  }
  .centerContent .inputfield::placeholder, .centerContent .inputfield {
    text-align: center;
  }
  .centerButtons{
    align-self: center;
  }

  .character__genders{
    position: absolute;
    bottom: 0;
    left: 5vw;
    z-index: 6;
    margin-bottom: 3rem;
  }

  .gender__check:after{
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
  }

  .pageTitle{
    font-size: 3.5rem;
  }

  .hints{
    display: none;
  }

  .editorGrid{
    grid-template-columns: 1fr;
  }

 }

 @media screen and (max-width: 650px) {


  .pageTitle{
    text-align: center;
    line-height: 1.6;
    font-size: 3rem;
  }

  .inputfield{
    text-align: center;
  }

  .inputfield::placeholder{
    text-align: center;
  }

  .button{
    margin: 0 auto;
  }
  .margin_left{
    padding-left: 0;
    height: 80vh;
  }
  .part__title{
    margin-left: 0;
  }

    .gender__check:after{
    margin-left: .1rem;
  }

  .centerBlock{
    width: 70%;
    justify-self: center;
    display: block;
  }

  .centerContent, .fullForm{
        width: 60%;
    justify-self: center;
  }

  .tags{
        display: flex;

    flex-wrap: wrap;
    justify-content: center;

    align-content: center;
  }

  .tag {
        margin-right: .5rem;
    margin-left: .5rem;

  }

  .margin_left{
    height: 60vh;
  }

  .inputfield[id='name'], .inputfield[id='location']{
  width: 90%;
}
.inputfield[id='age']{
  width: 40%;
  text-align: center;
}

.inputfield[id='personality1'], .inputfield[id='personality2'], .inputfield[id='personality3']{
  width: 90%;
}



 }
  @media screen and (max-width: 500px) {

  .margin_left{
    height: 75vh;
  }
 }
  @media screen and (max-width: 350px) {
  .centerContent{
    width: 100%;
  }

  .fullForm{
    width: 100%;
  }
 }