.navWrapper {
  padding: 2.5rem 0;

  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightNav {
  display: flex;
}

.navLink {
  margin-left: 2rem;
  text-decoration: none;
  composes: navbar from "../styles/typo.module.css";
}

.logo {
  width: 10rem;
}
