.story {
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-rows: 40rem 3rem;
}

.story__text {
  grid-row: 1;
  align-self: center;
  composes: body from "../styles/typo.module.css";
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 3.3rem;
  /* or 135% */
  text-align: center;
  transition: all 0.3s ease-in;
  color: #bec4d0;
}

.story__button {
  width: 10rem;
  align-self: center;
  justify-self: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--grey-color);
  transition: all 0.2s;
}
.story__button:hover {
  color: white;
  transition: all 0.2s;
}

@media only screen and (min-width: 700px) {
  .story__text {
    font-size: 3rem;
    line-height: 4.4rem;
  }
}

@media only screen and (min-width: 900px) {
  .story__text {
    font-size: 3.8rem;
    line-height: 5rem;
  }
}
