.story {
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-rows: 40rem 3rem;
}

.story__text {
  grid-row: 1;
  align-self: center;

  font-style: normal;
  font-weight: normal;
  font-size: 37px;
  line-height: 50px;
  /* or 135% */
  text-align: center;

  color: #bec4d0;
}

.story__button {
  width: 10rem;
  align-self: center;
  justify-self: center;
}
