.timeline {
  display: grid;

  grid-template-columns: auto;
  grid-auto-flow: column;
  width: 80%;
  bottom: 10rem;
  position: absolute;
  left: 45%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.bulletpoint {
  width: 10px;
  height: 10px;
  border: solid rgb(231, 231, 231) 2px;
  border-radius: 10px;
  transition: 1s ease;
  position: absolute;
  transition-delay: 2s;
  transition: 0.5s ease;
  right: 0;
}
.active {
  background-color: red;
  border: solid red 2px;
  transition-delay: 0.3s;
}
.done {
  background-color: rgb(231, 231, 231);
  border: solid rgb(231, 231, 231) 2px;
}
.line {
  position: relative;
}

.active_line:not(:first-child):before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: rgb(231, 231, 231);
  height: 3px;
  width: 100%;
  z-index: -1;
  top: 4px;
  left: 0;

  /* transform: translateX(-100%); */
  animation: scale-line 0.3s;
}

@keyframes scale-line {
  0% {
    width: 0;
  }
  100% {
    width: 100;
  }
}
