.story{
    composes: character from '../components/MainCharacter.module.css';
    grid-template-rows: 2rem 10rem 1.5rem 3rem 2rem 
}

.story__image{
     composes: character__image from '../components/MainCharacter.module.css';
}

.story__name{
    composes: character__name from '../components/MainCharacter.module.css';
}