@font-face {
  font-family: "charter";
  src: url("./assets/fonts/charter/regular.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "charter";
  src: url("./assets/fonts/charter/italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "charter";
  src: url("./assets/fonts/charter/bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "charter";
  src: url("./assets/fonts/charter/bold_it.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "oakes";
  src: url("./assets/fonts/oakes/bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "oakes";
  src: url("./assets/fonts/oakes/semibold") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "oakes";
  src: url("./assets/fonts/oakes/regular.woff") format("woff");
  font-weight: normal;
}

.navbar {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  color: var(--grey-color);
  font-family: "oakes", sans-serif;
}

.heading-1 {
  font-size: 8rem;
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 4rem;
  font-family: "oakes", sans-serif;
}

.heading-2 {
  font-size: 2.5rem;
  line-height: 1.6;
  font-weight: 900;
  margin-bottom: 2rem;
  font-family: "oakes", sans-serif;
}

.heading-3 {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--highlight-color);
  font-family: "oakes", sans-serif;
}

.tagline {
  font-size: 1.4rem;
  color: var(--grey-color);
  font-family: 'oakes'
}

.body {
  font-family: "charter", serif;
  font-size: 1.6rem;
  line-height: 1.7;
}

.oakes {
  font-family: "oakes", sans-serif;
}

@media only screen and (min-width:700px){
  .heading-2 {
    font-size: 4rem;
  }

  .body {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width:1200px){
  .heading-2 {
    font-size: 4.5rem;
  }

  .body {
    font-size: 2rem;
  }
}
