.button {
  background: none;
  border: none;
  color: var(--light-color);
  font-size: 1.6rem;
  border-bottom: 0.2rem solid var(--highlight-color);
  padding: 1.5rem 0;
  padding-right: 4rem;
  width: auto + 5rem;
  text-align: left;
  position: relative;
  composes: oakes from "./typo.module.css";
}

.button:after {
  content: "";
  display: block;
  height: 0.2rem;
  width: 2.7rem;
  background-color: var(--highlight-color);
  position: absolute;
  right: 0;
  top: 50%;
}

.button::before {
  content: "";
  display: block;
  border: 0.2rem solid var(--highlight-color);
  border-left: none;
  border-bottom: none;
  height: 1.4rem;
  width: 1.4rem;
  position: absolute;
  right: 0.1rem;
  top: calc(50% - 0.6rem);
  transform: rotate(45deg);
}

.split_grid {
  display: grid;
  grid-template-columns: 1fr 38%;
  grid-gap: 5rem;
}

.character__image {
  height: 100vh;
  composes: character__image from "./grids.module.css";
  position: absolute;
  width: 40%;
  top: 0;
  right: 0;
  object-fit: contain;
}

.inputField {
  background: none;
  border: none;
  border-bottom: 0.2rem solid var(--light-color);
  color: var(--light-color);
  font-size: 5rem;
  font-weight: bold;
  padding: 0.5rem 0;
  margin-top: -5rem;
  line-height: 1;
  composes: oakes from "./typo.module.css";
  width: 100%;
}
.inputField::placeholder {
  color: var(--light-color);
  font-size: 1.4rem;
  display: block;
}
